body{
	margin: 0;
	padding: 0;
	background: url(Fon.png) no-repeat center top/cover;

}
header{
	height: 60px;
	background: url(Layer 1.png) no-repeat center top/cover;
	opacity: 1;


}
footer{
	background: #fff;
	height: 360px;
	font-size: 15px;
	width: 100%;
	text-align: center;
	padding-top: 125px;
}

a{
	position: relative;
	text-decoration: none;
	color: #A3A3A3;

}
li{
	list-style-type: none;
}

.conteiner{
	font-family: Arial, sanc-sarif;
	width: 1000px;
	margin: 0 auto;
	height: 420px;

}


.logo{
	float: left;
	display: block;
	padding-top: 15px;
	background: url(Layer1.png);
}
.conteiner_logo{

	width: 1000px;
	margin: 0 auto;
	height: 60px;
	}
.menu{
	float: right;
	padding-top: 1px;
}





.down{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;

}
